body {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.avatar {
    width: 150px;
    border-radius:10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background:#2a9d8f;
    color: #2b2839;
    border:solid #006d77;
    border-width: 6px 0;
    border-radius: 5px;

}